SELECT  DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01)AS [FECHA] /*DATEPART(YEAR,S.FECHACOMPRA),DATEPART(MONTH,S.FECHACOMPRA)*/
, SUM(S.PRECIO) AS TOTAL
FROM ZOSOLICITUD  S
INNER JOIN ZOCLIEN1 C WITH(NOLOCK) ON
	C.COD = S.CODCLIE 
INNER JOIN ZOCTC CTC WITH(NOLOCK) ON 
	CTC.CODCTC = C.CTC_CAR
WHERE CTC.CODCTC = '05' AND FECHACOMPRA > '2014-01-01'and fechaCompra < '2015-11-17'
GROUP BY  DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01)--DATEPART(YEAR,S.FECHACOMPRA),DATEPART(MONTH,S.FECHACOMPRA)
ORDER BY 1 ASC





SELECT S.CODCLIE,  DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01)AS [FECHA], SUM(S.PRECIO) AS TOTAL
FROM ZOSOLICITUD  S
INNER JOIN ZOCLIEN1 C WITH(NOLOCK) ON
	C.COD = S.CODCLIE 
INNER JOIN ZOCTC CTC WITH(NOLOCK) ON 
	CTC.CODCTC = C.CTC_CAR
WHERE CTC.CODCTC = '05' AND FECHACOMPRA > '2014-01-01' AND C.COD = '0009710011'
GROUP BY S.CODCLIE, DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01)
ORDER BY 2 ASC

SELECT 
		S.CODCLIE,  
		DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01) AS [FECHA], 
		SUM(S.PRECIO) AS TOTAL
	FROM 
		ZOSOLICITUD  S
	INNER JOIN ZOCLIEN1 C WITH(NOLOCK) ON
		C.COD = S.CODCLIE 
	INNER JOIN ZOCTC CTC WITH(NOLOCK) ON 
		CTC.CODCTC = C.CTC_CAR
	WHERE 
		CTC.CODCTC = '05' AND 
		FECHACOMPRA > '2014-01-01'  AND
		FECHACOMPRA < '2015-11-18' AND 
		C.COD = '0009710011'
	GROUP BY S.CODCLIE, DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01)
	ORDER BY 2 ASC
select * from ZoCTC

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [PERMISO_ID]
      ,[PERMISO_DESC]
  FROM [Comercial].[dbo].[MD_PERMISOS]
  
  
  insert into MD_PERMISOS(PERMISO_ID,PERMISO_DESC)
  values(1,'FACTURASPROMOVISA'),
  (2,'ENVIOASAP'),
  (3,'CLIENTES'),
  (4,'NEUMATICOS'),
  (5,'PROMOCIONES'),
  (6,'MODIFICARCLIENTEIP'),
  (7,'SINZCRONIZACIONCOMERCIAL'),
  (8,'REPORTESCOMERCIAL'),
  (9,'ADMINISTRACION'),
  (10,'MODIFICACIONESMASIVAS'),
  (13,'PERFIL')

  select * from MD_PERMISOS
  insert into GRUPOS_USUARIOS(grupo_id,USU_ID)
  values(7,'jonathan')

  select * from GRUPOS_USUARIOS
  select * from MD_USUARIOS
  select * from MD_GRUPOS
  select * from GRUPOS_PERMISOS
  
  delete 
	from 
	GRUPOS_PERMISOS where GRUPO_ID =(select g.grupo_id from MD_GRUPOS  g where g.GRUPO_DESC =@nombre)

	delete from MD_GRUPOS where GRUPO_id > 16