<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Server=JONA\SQLEXPRESS;Database=Comercial;Trusted_Connection=Yes;"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms name="Authen" protection="All" timeout="60" loginUrl="~/Login.aspx"/>
    </authentication>
    <!--<authorization>
        <deny users="?"/>
      </authorization>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.5" maxUrlLength="10999" maxQueryStringLength="2097151" />-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
          La pertenencia a ASP.NET está deshabilitada en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
          -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
          El perfil de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
          -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
            El rol de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
          -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
              Si la implementación se realiza en un entorno de nube con varias instancias de servidor web,
              debería cambiar el modo de estado de sesión de "InProc" a "Custom". Además, cambie también
              la cadena de conexión con el nombre "DefaultConnection" para conectarse a una instancia de
              SQL Server (incluidos SQL Azure y SQL Compact) en lugar de conectarse a SQL Server Express.
        -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <httpHandlers>
      <add verb="GET" path="Site/CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0,           Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="Site/CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" preCondition="integratedMode"/>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler,     System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"  />
      <add name="ReportViewer" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler,Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="FormsAuthentication"/>-->
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <!--<requestLimits maxUrl="10999" maxQueryString="2097151" />-->
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="googlemaps.subgurim.net" value="AIzaSyAI7DtFifHYzYaln1W-0OCqLcDA4y5Dh1I"/>
    <add key="rutaProductos" value="C:\temp\ZOPRODU1.txt"/>
    <add key="rutaClientes" value="C:\temp\ZOCLIEN1.txt"/>
    <add key="rutaProcesDB" value="C:\Users\Jonathan\Documents\Visual Studio 2013\Projects\ComercialDBProcess\ComercialDBProcess\bin\Debug\ComercialDBProcess.exe"/>
  </appSettings>
</configuration>