USE [Comercial]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_INSERT_SOLICITUD_ALTERA_IP] 
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
	@codSolicitud INTEGER,
	@IP CHAR(7),
    @pais VARCHAR(2),
	@nota NVARCHAR(MAX)
AS
BEGIN
	INSERT dbo.ZoSolicitud_AlteraIP VALUES(@codSolicitud, @IP, @pais, @nota)
END