USE [Comercial]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_DELETE_SOLICITUD_ALTERA_IP] 
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
	
AS
BEGIN
	DELETE FROM dbo.ZoSolicitud_AlteraIP
END