USE [Comercial]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_SELECT_SOLICITUD_ALTERA_IP] 
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
AS
BEGIN
	SELECT CodSolicitud, IP, Pais, Nota FROM ZoSolicitud_AlteraIP
	ORDER BY CodSolicitud
END