USE [Comercial]
GO
/****** Object:  Table [datac].[T000_VENDEDORES]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [datac].[T000_VENDEDORES](
	[VENDCODI] [nvarchar](6) NULL,
	[VENDNOMB] [nvarchar](30) NULL,
	[VENDZONA] [char](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
