USE [Comercial]
GO
/****** Object:  Table [datac].[T000_IP_VARIANTES]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [datac].[T000_IP_VARIANTES](
	[IP] [nvarchar](7) NULL,
	[NOMBRE_VARIANTE] [nvarchar](10) NULL
) ON [PRIMARY]

GO
