USE [Comercial]
GO
/****** Object:  Table [datac].[T000_IP_old]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [datac].[T000_IP_old](
	[IP] [nvarchar](7) NULL,
	[DESC] [nvarchar](40) NULL,
	[Familia] [nvarchar](2) NULL,
	[MKSE] [int] NULL,
	[MKMI] [nvarchar](2) NULL
) ON [PRIMARY]

GO
