USE [Comercial]
GO
/****** Object:  Table [datac].[T000_DIBUJO]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [datac].[T000_DIBUJO](
	[DIBUCODI] [nvarchar](10) NULL,
	[DIBUDESC] [nvarchar](20) NULL
) ON [PRIMARY]

GO
