USE [Comercial]
GO
/****** Object:  Table [dbo].[Zoprovincia]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Zoprovincia](
	[Zocod] [char](2) NOT NULL,
	[ZODesc] [varchar](25) NOT NULL,
	[REG_COD] [char](2) NULL,
 CONSTRAINT [PK_Zoprovincia] PRIMARY KEY CLUSTERED 
(
	[Zocod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
