USE [Comercial]
GO
/****** Object:  Table [dbo].[T000_COSTOS_COMERCIAL]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T000_COSTOS_COMERCIAL](
	[COST_FAMI] [nvarchar](2) NULL,
	[COST_VALOR] [float] NULL,
	[COST_MODIF] [nvarchar](50) NULL
) ON [PRIMARY]

GO
