USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_SOLICITUD_ALTERA_STATUS]    Script Date: 10/12/2015 0:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SELECT_SOLICITUD_ALTERA_STATUS] 
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
AS
BEGIN
	SELECT CodSolicitud, FlgProcesado, Nota FROM ZoSolicitud_AlteraStatus
	ORDER BY CodSolicitud
END
GO
