USE [Comercial]
GO
/****** Object:  Table [dbo].[MD_GRUPOS]    Script Date: 29/10/2015 12:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_GRUPOS](
	[GRUPO_ID] [nvarchar](15) NOT NULL,
	[GRUPO_DESC] [nvarchar](50) NULL,
 CONSTRAINT [PK_MD_GRUPOS] PRIMARY KEY CLUSTERED 
(
	[GRUPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
