USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_PROCESA_ZoSolicitud_DatosExternos]    Script Date: 22/11/2015 15:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===========================================================================
-- AUTHOR:		NICOLAS GALIANO
-- CREATE DATE: DICIEMBRE 2014
-- DESCRIPTION:	SP QUE  VALIDA  Y ENVIA LOS DATOS DE LA TABLA:
--      DBO.ZOSOLICITUD_DATOSEXTERNOS-->DBO.ZOSOLICITUD
-- ===========================================================================
CREATE PROCEDURE [dbo].[SP_PROCESA_ZoSolicitud_DatosExternos] 

AS
BEGIN

-------------------------------------------------------------------------------------------------

PRINT 'FUERZO A ACTUALIZAR LAS PROMOS'

EXEC PROD.SP_INSERT_UPDATE_ZOTIPOPROMOXIP 


-------------------------------------------------------------------------------------------------

PRINT 'CASTEO LA IP Y EL CODIGO DE CLIENTE'

UPDATE DBO.ZOSOLICITUD_DATOSEXTERNOS  
SET IP=RIGHT(CAST('0000000' AS VARCHAR) + CAST(LTRIM(RTRIM([IP])) AS VARCHAR), 7),
    CODCLIE=RIGHT(CAST('0000000000' AS VARCHAR) + CAST(LTRIM(RTRIM([CODCLIE])) AS VARCHAR), 10),
    [NOMBREUSU]= CASE  [NOMBREUSU] WHEN '' THEN 'CF' ELSE [NOMBREUSU] END 
    
    
-------------------------------------------------------------------------------------------------

PRINT 'ACTUALIZO PAIS DE IP'

UPDATE DBO.ZOSOLICITUD_DATOSEXTERNOS 
SET DBO.ZOSOLICITUD_DATOSEXTERNOS.PAIS = P.PAIS
FROM DBO.ZOSOLICITUD_DATOSEXTERNOS
INNER JOIN DBO.ZOPRODU1 AS P 
       ON P.IP = DBO.ZOSOLICITUD_DATOSEXTERNOS.IP 

--------------------------------------------------------------------------------------------------

PRINT 'ACTUALIZO PROVINCIA'

UPDATE DBO.ZOSOLICITUD_DATOSEXTERNOS
SET DBO.ZOSOLICITUD_DATOSEXTERNOS.CODPROV = C.CODPROV,DBO.ZOSOLICITUD_DATOSEXTERNOS.CIUDAD = C.CIUDAD
FROM DBO.ZOSOLICITUD_DATOSEXTERNOS
INNER JOIN DBO.ZOCLIEN1 AS C 
       ON C.COD = DBO.ZOSOLICITUD_DATOSEXTERNOS.CODCLIE 
       
--------------------------------------------------------------------------------------------------

PRINT 'ACTUALIZO LAS CUOTAS Y EL DESCUENTO DE LA PROMO'

UPDATE DBO.ZOSOLICITUD_DATOSEXTERNOS
SET DBO.ZOSOLICITUD_DATOSEXTERNOS.[CUOTAS] =
											 CASE DATEPART(DW,DBO.ZOSOLICITUD_DATOSEXTERNOS.[FECHACOMPRA])
										  
											  WHEN 1 THEN P.CUOTA1
											  WHEN 2 THEN P.CUOTA2
											  WHEN 3 THEN P.CUOTA3
											  WHEN 4 THEN P.CUOTA4
											  WHEN 5 THEN P.CUOTA5
											  WHEN 6 THEN P.CUOTA6
											  WHEN 7 THEN P.CUOTA7
											END
, DBO.ZOSOLICITUD_DATOSEXTERNOS.[DESCUENTO]=
											 CASE DATEPART(DW,DBO.ZOSOLICITUD_DATOSEXTERNOS.[FECHACOMPRA])
										  
											  WHEN 1 THEN P.DESCU1
											  WHEN 2 THEN P.DESCU2
											  WHEN 3 THEN P.DESCU3
											  WHEN 4 THEN P.DESCU4
											  WHEN 5 THEN P.DESCU5
											  WHEN 6 THEN P.DESCU6
											  WHEN 7 THEN P.DESCU7
											 END
FROM DBO.ZOSOLICITUD_DATOSEXTERNOS
INNER JOIN DBO.ZOTIPOPROMO AS P ON P.CODTIPOPROMO = DBO.ZOSOLICITUD_DATOSEXTERNOS.CODPROMO
WHERE DBO.ZOSOLICITUD_DATOSEXTERNOS.[DESCUENTO]='0' 


 
PRINT 'EN CASO DE QUE TENGA DESCUENTO POR IP'

UPDATE DE
SET DE.DESCUENTO =PE.DESCUENTO
FROM DBO.ZOSOLICITUD_DATOSEXTERNOS DE
INNER JOIN DBO.ZOTIPOPROMOXIP AS PE 
		   ON PE.CODTIPOPROMO = DE.CODPROMO AND PE.IP=DE.IP
INNER JOIN DBO.ZOTIPOPROMO AS P 
       ON P.CODTIPOPROMO = DE.CODPROMO		   
WHERE DE.[FECHACOMPRA]>=P.FECDESDE 
      AND DE.[FECHACOMPRA] <=P.FECHASTA
      AND DE.[DESCUENTO]='0'  

-----------------------------------------------------------------------------------------------
      
PRINT 'CONVIERTO LA FECHA DE COMPRA A SOLO FECHA (IGNORO LOS HH:MM:SS YA QUE DE ESKER VIENE COMO 12:00:00)...'
UPDATE [ZOSOLICITUD_DATOSEXTERNOS] SET FECHACOMPRA = CONVERT (CHAR(10), FECHACOMPRA, 102) 
      
-----------------------------------------------------------------------------------------------
      
PRINT 'MARCO TODO A PROCESAR...'
UPDATE [ZOSOLICITUD_DATOSEXTERNOS] SET [FLGPROCESADO]='3' WHERE [FLGPROCESADO]='0'


------------------------------------------------------------------------------------------------    
 
PRINT 'VALIDO QUE NO EXISTAN REPETIDOS CONTRA LA TABLA ZOSOLICITUD_DATOSEXTERNOS'

UPDATE DE
SET DE.[FLGPROCESADO] = '4', DE.NOTA='REGISTRO DUPLICADO, YA EXISTE REGISTRO EN LA TABLA ZOSOLICITUD_DATOSEXTERNOS'
FROM DBO.ZOSOLICITUD_DATOSEXTERNOS AS DE
INNER JOIN DBO.ZOSOLICITUD_DATOSEXTERNOS  AS S ON 
									DE.IP = S.IP AND 
									DE.PAIS = S.PAIS AND
									DE.CODCLIE = S.CODCLIE AND
									DE.FECHACOMPRA = S.FECHACOMPRA AND
									RIGHT((CAST('00000' AS VARCHAR) + CAST(DE.NROFACTURA AS VARCHAR)) ,5) = RIGHT((CAST('00000' AS VARCHAR) + CAST(S.NROFACTURA AS VARCHAR)) ,5)	   
WHERE NOT S.[CODSOLICITUD]  IS NULL AND DE.[CODSOLICITUD] <> S.[CODSOLICITUD]


PRINT 'VALIDO QUE NO EXISTAN REPETIDOS CONTRA LA TABLA ZOSOLICITUD'

UPDATE DE
SET DE.[FLGPROCESADO] = '4', DE.NOTA='REGISTRO DUPLICADO, YA EXISTE REGISTRO EN LA TABLA ZOSOLICITUD'
FROM DBO.ZOSOLICITUD_DATOSEXTERNOS AS DE
INNER JOIN DBO.ZOSOLICITUD  AS S ON 
									DE.IP = S.IP AND 
									DE.PAIS = S.PAIS AND
									DE.CODCLIE = S.CODCLIE AND
									DE.FECHACOMPRA = S.FECHACOMPRA AND
									RIGHT((CAST('00000' AS VARCHAR) + CAST(DE.NROFACTURA AS VARCHAR)) ,5) = RIGHT((CAST('00000' AS VARCHAR) + CAST(S.NROFACTURA AS VARCHAR)) ,5)	   
WHERE NOT S.[CODSOLICITUD]  IS NULL

/*
UPDATE A
SET A.[FLGPROCESADO] = '4', A.NOTA='REGISTRO DUPLICADO, YA EXISTE REGISTRO EN LA TABLA ZOSOLICITUD'
FROM DBO.ZOSOLICITUD_DATOSEXTERNOS A
INNER JOIN DBO.ZOSOLICITUD  AS C 
           ON C.ESKER_ID = A.ESKER_ID AND A.[FLGPROCESADO]<>'4'
*/

              
-------------------------------------------------------------------------------------------------


--LAS QUE QUEDAN EN 4 ES PORQUE TIENEN ALGUN DATO MAL.
PRINT 'VALIDA QUE EXISTA EL PRODUCTO, EL CLIENTE, LA PROVINCIA Y LA PROMO E IDENTIFICO EL MOTIVO DE LA INCOSISTENCIA:'

UPDATE	A SET 
	
	A.[FLGPROCESADO] = '4',

	A.NOTA =' ERROR EN: ' +
		CAST(CASE WHEN IP.IP			IS NULL	THEN ' - PRODUCTO'	ELSE '' END AS VARCHAR) +
		CAST(CASE WHEN CL.COD			IS NULL	THEN ' - CLIENTE'	ELSE '' END AS VARCHAR) +
		CAST(CASE WHEN PR.ZOCOD			IS NULL	THEN ' - PROVINCIA' ELSE '' END AS VARCHAR) +
		CAST(CASE WHEN TP.CODTIPOPROMO	IS NULL	THEN ' - PROMOCION' ELSE '' END AS VARCHAR) 

FROM [DBO].[ZOSOLICITUD_DATOSEXTERNOS] A
	 LEFT JOIN DBO.ZOPRODU1 IP		ON IP.IP = A.IP AND IP.PAIS= A.PAIS
	 LEFT JOIN  DBO.ZOCLIEN1 CL		ON CL.COD = A.[CODCLIE]
	 LEFT JOIN DBO.ZOPROVINCIA PR	ON PR.ZOCOD = A.[CODPROV]
	 LEFT JOIN DBO.ZOTIPOPROMO TP	ON TP.CODTIPOPROMO = A.[CODPROMO] AND A.[FECHACOMPRA] >= TP.FECDESDE AND A.[FECHACOMPRA] <= TP.FECHASTA   

WHERE A.[FLGPROCESADO]<>'4' AND ((IP.IP IS NULL) OR 
									(CL.COD IS NULL)		OR 
									(PR.ZOCOD IS NULL) OR 
									(TP.CODTIPOPROMO IS NULL))

------------------------------------------------------------------------------------------------


PRINT 'CARGO LOS REGISTROS EN LA TABLA'


INSERT INTO DBO.ZOSOLICITUD (CODAGRUP, IP, PAIS, CODCLIE, FECHACOMPRA, CANTIDAD, NROFACTURA, NROTICKET, NROCOM, NROTARJETA, NROAUTO, NOMBREUSU, DIRUSU, 
                      NRO, DPTO, PISO, CIUDAD, CODPROV, VEHICULO, CUOTAS, TELEFONO, CODPOS, PRECIO, FLGPROCESADO, CODPROMO, DESCUENTO, CODAUX, FECALTA, USUALTA, 
                      FECULTACT, USUULTACT, FECSUBSAP, NOTA,[ESKER_LINK],[ESKER_ID])
                      
SELECT				   [CODAGRUP]
					  ,[IP]
					  ,[PAIS]
					  ,[CODCLIE]
					  ,[FECHACOMPRA]
					  ,[CANTIDAD]
					  ,[NROFACTURA]
					  ,[NROTICKET]
					  ,[NROCOM]
					  ,[NROTARJETA]
					  ,[NROAUTO]
					  ,[NOMBREUSU]
					  ,[DIRUSU]
					  ,[NRO]
					  ,[DPTO]
					  ,[PISO]
					  ,[CIUDAD]
					  ,[CODPROV]
					  ,[VEHICULO]
					  ,[CUOTAS]
					  ,[TELEFONO]
					  ,[CODPOS]
					  ,[PRECIO]
					  ,'0' AS [FLGPROCESADO]
					  ,[CODPROMO]
					  ,[DESCUENTO]
					  ,[CODAUX]
					  ,[FECALTA]
					  ,[USUALTA]
					  ,[FECULTACT]
					  ,[USUULTACT]
					  ,[FECSUBSAP]
					  ,[NOTA]
					  ,[ESKER_LINK]
					  ,[ESKER_ID]
				  FROM [COMERCIAL].[DBO].[ZOSOLICITUD_DATOSEXTERNOS]
				  WHERE [FLGPROCESADO]='3' --AND [CODPROMO]='55'


----------------------------------------------------------------------------------------------------
PRINT 'ELIMINO LOS DATOS QUE SE GRABARON BIEN'
				  
DELETE FROM [COMERCIAL].[DBO].[ZOSOLICITUD_DATOSEXTERNOS] WHERE [FLGPROCESADO]='3' --AND [CODPROMO]='55'


END






/*
SELECT       IP, PAIS, CODCLIE, FECHACOMPRA, RIGHT((CAST('00000' AS VARCHAR) + CAST(NROFACTURA AS VARCHAR)) ,5) AS FACT, COUNT(*) AS REPETICIONES
FROM            DBO.ZOSOLICITUD
WHERE MONTH(FECHACOMPRA) IN ('6','7') AND YEAR(FECHACOMPRA)=2014
GROUP BY IP, PAIS, CODCLIE, FECHACOMPRA, RIGHT((CAST('00000' AS VARCHAR) + CAST(NROFACTURA AS VARCHAR)) ,5)
HAVING COUNT(*) > 1
ORDER BY FECHACOMPRA DESC

*/
GO
