USE [Comercial]
GO
/****** Object:  Table [dbo].[INVRPT_TIPOS_ARCHIVO]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVRPT_TIPOS_ARCHIVO](
	[CODIGO_TIPO_ARCHIVO] [nvarchar](10) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
 CONSTRAINT [PK_INVRPT_TIPOS_ARCHIVO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_TIPO_ARCHIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
