USE [Comercial]
GO
/****** Object:  Table [dbo].[T000_SHOPING_MEDIDAS]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T000_SHOPING_MEDIDAS](
	[MARCA] [char](20) NULL,
	[MEDIDA] [char](20) NULL,
	[DIBUJO] [char](10) NULL,
	[FAMILIA] [char](20) NULL,
	[PRECIO] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
