USE [Comercial]
GO
/****** Object:  Table [dbo].[DATOS_ETIQUETAS_COMERCIAL]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS_ETIQUETAS_COMERCIAL](
	[IP] [nvarchar](50) NULL,
	[MEDIDA] [nvarchar](150) NULL,
	[DISEÑO] [nvarchar](50) NULL,
	[CODIGO] [nvarchar](50) NULL,
	[CODIGO PSA] [nvarchar](50) NULL
) ON [PRIMARY]

GO
