USE [Comercial]
GO
/****** Object:  Table [dbo].[ZoTipoPromoXIP]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZoTipoPromoXIP](
	[CodTipoPromo] [int] NOT NULL,
	[IP] [char](7) NOT NULL,
	[Descuento] [float] NOT NULL CONSTRAINT [DF_ZoTipoPromoXIP_Descuento]  DEFAULT (0),
 CONSTRAINT [PK_ZoTipoPromoXIP] PRIMARY KEY CLUSTERED 
(
	[CodTipoPromo] ASC,
	[IP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
