USE [Comercial]
GO
/****** Object:  Table [dbo].[Visa]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Visa](
	[Col001] [char](5) NULL,
	[Col002] [char](6) NULL,
	[Col003] [char](2) NULL,
	[Col004] [char](10) NULL,
	[Col005] [char](10) NULL,
	[Col006] [char](4) NULL,
	[Col007] [char](1) NULL,
	[Col008] [char](4) NULL,
	[Col009] [char](3) NULL,
	[Col010] [char](3) NULL,
	[Col011] [char](3) NULL,
	[Col012] [char](3) NULL,
	[Col013] [char](16) NULL,
	[Col014] [char](6) NULL,
	[Col015] [char](6) NULL,
	[Col016] [char](8) NULL,
	[Col017] [char](9) NULL,
	[Col018] [char](1) NULL,
	[Col019] [char](5) NULL,
	[Col020] [char](2) NULL,
	[Col021] [char](142) NULL,
	[Col022] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
