USE [Comercial]
GO
/****** Object:  Table [dbo].[GRUPOS_PERMISOS]    Script Date: 29/10/2015 12:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOS_PERMISOS](
	[GRUPO_ID] [nvarchar](15) NOT NULL,
	[PERMISO_ID] [int] NOT NULL,
	[VALOR] [bit] NOT NULL,
 CONSTRAINT [PK_GRUPOS_PERMISOS] PRIMARY KEY CLUSTERED 
(
	[GRUPO_ID] ASC,
	[PERMISO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GRUPOS_PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK_GRUPOS_PERMISOS_MD_GRUPOS] FOREIGN KEY([GRUPO_ID])
REFERENCES [dbo].[MD_GRUPOS] ([GRUPO_ID])
GO
ALTER TABLE [dbo].[GRUPOS_PERMISOS] CHECK CONSTRAINT [FK_GRUPOS_PERMISOS_MD_GRUPOS]
GO
ALTER TABLE [dbo].[GRUPOS_PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK_GRUPOS_PERMISOS_MD_PERMISOS] FOREIGN KEY([PERMISO_ID])
REFERENCES [dbo].[MD_PERMISOS] ([PERMISO_ID])
GO
ALTER TABLE [dbo].[GRUPOS_PERMISOS] CHECK CONSTRAINT [FK_GRUPOS_PERMISOS_MD_PERMISOS]
GO
