USE [Comercial]
GO
/****** Object:  Table [dbo].[TempCodSolicitud]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempCodSolicitud](
	[CodSolicitud] [int] NOT NULL
) ON [PRIMARY]

GO
