USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTES_TEMP]    Script Date: 10/12/2015 0:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CLIENTES_TEMP]
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
AS
BEGIN
	SELECT COD, CUIT, TIPO, [DESC], DIR, PROV, COL008, COL009, REGION, LATITUD, LONGITUD FROM DBO.ZOCLIEN1_TEMP
END

GO
