USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_SOLICITUD_ALTERA_CLIENTE]    Script Date: 11/24/2015 13:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_SOLICITUD_ALTERA_STATUS] 
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
	
AS
BEGIN
	DELETE FROM dbo.ZoSolicitud_AlteraStatus
END