USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_ZOSOLICITUD]    Script Date: 04/12/2015 18:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		<AUTHOR,,NAME>
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	<DESCRIPTION,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_ZOSOLICITUD]
(
  @IP CHAR(7), 
  @PAIS CHAR(2), 
  @CODCLIE CHAR(10), 
  @FECHACOMPRA DATETIME, 
  @CANTIDAD INT, 
  @NROFACTURA VARCHAR(13), 
  @NOMBREUSU VARCHAR(30), 
  @DIRUSU VARCHAR(30), 
  @NRO INT, 
  @DPTO CHAR(2), 
  @PISO CHAR(2), 
  @CODPROV CHAR(2), 
  @CIUDAD VARCHAR(50), 
  @VEHICULO VARCHAR(30), 
  @CUOTAS INT, 
  @FLGPROCESADO CHAR(1), 
  @FECALTA DATETIME, 
  @USUALTA VARCHAR(10), 
  @TELEFONO CHAR(17), 
  @CODPOS VARCHAR(10),    
  @NROTICKET INT,
  @NROCOM CHAR(10),
  @NROTARJETA INT , 
  @NROAUTO INT, 
  @PRECIO FLOAT, 
  @CODPROMO INT, 
  @DESCUENTO FLOAT,
  @CODAUX CHAR(3), 
  @NOTA NVARCHAR(200)
)

AS
BEGIN
	INSERT INTO DBO.ZOSOLICITUD(IP, PAIS, CODCLIE, FECHACOMPRA, CANTIDAD, NROFACTURA, NOMBREUSU, DIRUSU, NRO, DPTO, PISO, CODPROV, CIUDAD, VEHICULO, CUOTAS, FLGPROCESADO, FECALTA, USUALTA, TELEFONO, CODPOS, NROTICKET,NROCOM,NROTARJETA, NROAUTO, PRECIO, CODPROMO, DESCUENTO,CODAUX, NOTA) 
	VALUES(@IP, @PAIS, @CODCLIE, @FECHACOMPRA, @CANTIDAD, @NROFACTURA, @NOMBREUSU, @DIRUSU, @NRO, @DPTO, @PISO, @CODPROV, @CIUDAD, @VEHICULO, @CUOTAS, @FLGPROCESADO, @FECALTA, @USUALTA, @TELEFONO, @CODPOS, @NROTICKET,@NROCOM,@NROTARJETA, @NROAUTO, @PRECIO, @CODPROMO, @DESCUENTO,@CODAUX,@NOTA) 
END

GO
