USE [Comercial]
GO
/****** Object:  Table [dbo].[PERMISO_PAGINAS]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO_PAGINAS](
	[PERMISO_ID] [int] NOT NULL,
	[PAGINA_ID] [int] NOT NULL,
 CONSTRAINT [PK_PERMISO_PAGINAS] PRIMARY KEY CLUSTERED 
(
	[PERMISO_ID] ASC,
	[PAGINA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
