USE [Comercial]
GO
/****** Object:  View [dbo].[oc_descuentos_por_cliente]    Script Date: 10/12/2015 23:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[oc_descuentos_por_cliente]
AS
SELECT     TOP 100 PERCENT CODCLIENTE, DESCCLIENTE, CONDICION, DESCCONDICION, SPART, ZZFAM, ZZLIN, VALOR_COND, ZZGRU, ZZMAR, 
                      MATNR
FROM         dbo.PRECIOS
GROUP BY CODCLIENTE, DESCCLIENTE, CONDICION, DESCCONDICION, SPART, ZZFAM, ZZLIN, VALOR_COND, ZZGRU, ZZMAR, MATNR
HAVING      (CONDICION = 'zde2' OR
                      CONDICION = 'zdex')
ORDER BY CODCLIENTE

GO
