USE [Comercial]
GO
/****** Object:  Table [dbo].[T000_FAMILIA_AGRUP]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T000_FAMILIA_AGRUP](
	[FAMIAGRCODI] [nvarchar](10) NOT NULL,
	[FAMIAGRDESC] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_T000_FAMILIA_AGRUP_1] PRIMARY KEY CLUSTERED 
(
	[FAMIAGRCODI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
