USE [Comercial]
GO
/****** Object:  Table [dbo].[T000_FAMILIA]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T000_FAMILIA](
	[FAMICODI] [nvarchar](2) NOT NULL,
	[FAMIDESC] [nvarchar](20) NULL,
	[FAMIAGRCODI] [nvarchar](10) NULL,
 CONSTRAINT [PK_T000_FAMILIA] PRIMARY KEY CLUSTERED 
(
	[FAMICODI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
