USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CLIEN1_TEMP]    Script Date: 19/11/2015 1:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_CLIEN1_TEMP] 
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
	@COD CHAR(10), 
	@CUIT CHAR(11),
	@TIPO CHAR(2),
	@DESCRIPCION CHAR(45), 
	@DIRECCION CHAR(40),
	@PROVINCIA CHAR(40),
	@COL008 CHAR(2),
	@COL009 CHAR(56),
	@REGION CHAR(20),
	@LATITUD FLOAT,
	@LONGITUD FLOAT
AS
BEGIN
	
	INSERT INTO DBO.ZOCLIEN1_TEMP(COD,CUIT, TIPO, [DESC], DIR, PROV, COL008, COL009, REGION, Latitud, Longitud) VALUES (@COD, @CUIT, @TIPO, @DESCRIPCION, @DIRECCION, @PROVINCIA, @COL008, @COL009, @REGION, @LATITUD, @LONGITUD);
END
GO
