USE [Comercial]
GO
/****** Object:  Table [dbo].[ZoMedidasPromo]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZoMedidasPromo](
	[IP] [char](7) NULL,
	[Descripcion] [nchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
