USE [Comercial]
GO
/****** Object:  Table [dbo].[GRUPOS_USUARIOS]    Script Date: 29/10/2015 12:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOS_USUARIOS](
	[GRUPO_ID] [nvarchar](15) NOT NULL,
	[USU_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GRUPOS_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[GRUPO_ID] ASC,
	[USU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GRUPOS_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_GRUPOS_USUARIOS_MD_GRUPOS] FOREIGN KEY([GRUPO_ID])
REFERENCES [dbo].[MD_GRUPOS] ([GRUPO_ID])
GO
ALTER TABLE [dbo].[GRUPOS_USUARIOS] CHECK CONSTRAINT [FK_GRUPOS_USUARIOS_MD_GRUPOS]
GO
ALTER TABLE [dbo].[GRUPOS_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_GRUPOS_USUARIOS_MD_USUARIOS] FOREIGN KEY([USU_ID])
REFERENCES [dbo].[MD_USUARIOS] ([USU_ID])
GO
ALTER TABLE [dbo].[GRUPOS_USUARIOS] CHECK CONSTRAINT [FK_GRUPOS_USUARIOS_MD_USUARIOS]
GO
