USE [Comercial]
GO
/****** Object:  Table [dbo].[MD_PAGINAS]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_PAGINAS](
	[PAGINA_ID] [int] NOT NULL,
	[PAGINA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MD_PAGINAS] PRIMARY KEY CLUSTERED 
(
	[PAGINA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
