USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_MENSUAL_POR_CLIENTE]    Script Date: 04/12/2015 18:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		<AUTHOR,,NAME>
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	<DESCRIPTION,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MENSUAL_POR_CLIENTE]
(
	@DESDE DATETIME,
	@HASTA DATETIME,
	@COD CHAR(10)
)
AS
BEGIN
	SELECT
		SUBSTRING(CONVERT(NVARCHAR,DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01) ),0,8)AS [PERIODO],
		SUM(S.PRECIO) AS TOTAL,
		C.RAZSOC
	FROM 
		ZOSOLICITUD S
	INNER JOIN ZOCLIEN1 C WITH(NOLOCK) ON
		C.COD = S.CODCLIE AND
		C.COD = @COD
	WHERE	
		S.FECHACOMPRA > @DESDE  AND	
		S.FECHACOMPRA < @HASTA 
	GROUP BY 
		C.RAZSOC, 
		DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), 
		DATEPART(MONTH,S.FECHACOMPRA),01)

END

GO
