USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_ANUAL_CLIENTE]    Script Date: 04/12/2015 18:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		<AUTHOR,,NAME>
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	<DESCRIPTION,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ANUAL_CLIENTE]
(
	@ANIO CHAR(4)
)
AS
BEGIN
	SELECT
		C.RAZSOC CLIENTE,
		SUM(S.PRECIO) AS TOTAL
		
	FROM 
		ZOSOLICITUD S
	INNER JOIN ZOCLIEN1 C WITH(NOLOCK) ON
		C.COD = S.CODCLIE 
	WHERE SUBSTRING(CONVERT(NVARCHAR,DATEPART(YEAR,S.FECHACOMPRA) ),0,5) = @ANIO
	GROUP BY 
		C.RAZSOC, 
		DATEPART(YEAR,S.FECHACOMPRA)
	ORDER BY 
		SUM(S.PRECIO) DESC
END

GO
