USE [Comercial]
GO
/****** Object:  Table [dbo].[AGRUP_DELETE]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGRUP_DELETE](
	[AGRUP] [bigint] NOT NULL
) ON [PRIMARY]

GO
