USE [Comercial]
GO
/****** Object:  Table [dbo].[RFC_CRITERIO_CREDITOS]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RFC_CRITERIO_CREDITOS](
	[CRITERIO] [nvarchar](50) NULL,
	[SQL] [nvarchar](50) NULL,
	[orden] [tinyint] NULL
) ON [PRIMARY]

GO
