USE [Comercial]
GO
/****** Object:  Table [dbo].[INVRPT_RELACION_IP]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVRPT_RELACION_IP](
	[CODIGO_CLIE] [nvarchar](7) NOT NULL,
	[CODIGO_IP_CLIE] [nvarchar](7) NOT NULL,
	[CODIGO_IP_PIRELLI] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_INVRPT_RELACION_IP] PRIMARY KEY CLUSTERED 
(
	[CODIGO_CLIE] ASC,
	[CODIGO_IP_CLIE] ASC,
	[CODIGO_IP_PIRELLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
