USE [Comercial]
GO
/****** Object:  Table [dbo].[INVRPT_CLIENTES]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVRPT_CLIENTES](
	[CODIGO_CLIE] [nvarchar](7) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
	[CUIT] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[COD_POSTAL] [nvarchar](10) NULL,
	[SECUENCIAL] [int] NULL CONSTRAINT [DF_INVRPT_CLIENTES_SECUENCIAL]  DEFAULT (0),
 CONSTRAINT [PK_INVRPT_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[CODIGO_CLIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
