USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTOS_TEMP]    Script Date: 07/11/2015 17:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PRODUCTOS_TEMP]
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
AS
BEGIN
	SELECT IP, DESCRIP, PAIS, OTRO, FAMILIA, MARCA, RANGO FROM DBO.ZOPRODU1_TEMP
END

GO
