USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_ZOSOLICITUD]    Script Date: 29/11/2015 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		<AUTHOR,,NAME>
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	<DESCRIPTION,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_ZOSOLICITUD]
(
  @COD INT,
  @IP CHAR(7), 
  @PAIS CHAR(2), 
  @CODCLIE CHAR(10), 
  @FECHACOMPRA DATETIME, 
  @CANTIDAD INT, 
  @NROFACTURA VARCHAR(13), 
  @NOMBREUSU VARCHAR(30), 
  @DIRUSU VARCHAR(30), 
  @NRO INT, 
  @DPTO CHAR(2), 
  @PISO CHAR(2), 
  @CODPROV CHAR(2), 
  @CIUDAD VARCHAR(50), 
  @VEHICULO VARCHAR(30), 
  @CUOTAS INT, 
  @FLGPROCESADO CHAR(1), 
  @FECALTA DATETIME, 
  @USUALTA VARCHAR(10), 
  @TELEFONO CHAR(17), 
  @CODPOS VARCHAR(10),    
  @NROTICKET INT,
  @NROCOM CHAR(10),
  @NROTARJETA INT , 
  @NROAUTO INT, 
  @PRECIO FLOAT, 
  @CODPROMO INT, 
  @DESCUENTO FLOAT,
  @CODAUX CHAR(3), 
  @NOTA NVARCHAR(200)
)

AS
BEGIN
	UPDATE DBO.ZOSOLICITUD
		SET IP = @IP,
		PAIS = @PAIS,
		CODCLIE= @CODCLIE,
		FECHACOMPRA = @FECHACOMPRA,
		CANTIDAD = @CANTIDAD,
		NROFACTURA = @NROFACTURA,
		NOMBREUSU = @NOMBREUSU,
		DIRUSU = @DIRUSU,
		NRO = @NRO,
		DPTO = @DPTO,
		PISO = @PISO,
		CODPROV = @CODPROV,
		CIUDAD = @CIUDAD,
		VEHICULO = @VEHICULO,
		CUOTAS = @CUOTAS,
		FLGPROCESADO = @FLGPROCESADO,
		FECALTA = @FECALTA,
		USUALTA = @USUALTA,
		TELEFONO = @TELEFONO,
		CODPOS = @CODPOS,
		NROTICKET = @NROTICKET,
		NROCOM = @NROCOM,
		NROTARJETA = @NROTARJETA,
		NROAUTO = @NROAUTO,
		PRECIO = @PRECIO,
		CODPROMO = @CODPROMO,
		DESCUENTO = @DESCUENTO,
		CODAUX = @CODAUX,
		NOTA = @NOTA
	WHERE CODSOLICITUD = @COD
	
END
GO
