USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[VENTATOTALXCTCXCLIENTE]    Script Date: 10/12/2015 0:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		<AUTHOR,,NAME>
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	<DESCRIPTION,,>
-- =============================================
CREATE PROCEDURE [dbo].[VENTATOTALXCTCXCLIENTE]
(
	@DESDE DATETIME,
	@HASTA DATETIME,
	@CLIE VARChAR(10),
	@CTC CHAR(2)	
)
AS
BEGIN
	SELECT 
		
		--DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01) AS [FECHA], 
		SUBSTRING(CONVERT(nvarchar,DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01) ),0,8)AS [PERIODO],
		SUM(S.PRECIO) AS TOTAL,
		S.CODCLIE
	FROM 
		ZOSOLICITUD  S
	INNER JOIN ZOCLIEN1 C WITH(NOLOCK) ON
		C.COD = S.CODCLIE 
	INNER JOIN ZOCTC CTC WITH(NOLOCK) ON 
		CTC.CODCTC = C.CTC_CAR
	WHERE 
		CTC.CODCTC = @CTC AND 
		FECHACOMPRA > @DESDE  AND
		FECHACOMPRA < @HASTA AND 
		C.COD = @CLIE
	GROUP BY S.CODCLIE, DATEFROMPARTS(DATEPART(YEAR,S.FECHACOMPRA), DATEPART(MONTH,S.FECHACOMPRA),01)
	ORDER BY 1 ASC
END

GO
