USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_CLIENTE_FLGFILBUSQ]    Script Date: 04/12/2015 18:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		<AUTHOR,,NAME>
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	<DESCRIPTION,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SELECT_CLIENTE_FLGFILBUSQ]
AS
BEGIN
	 SELECT DISTINCT ZS.CODCLIE, ZC.RAZSOC, ZC.FLGFILBUSQ 
 FROM ZOSOLICITUD ZS 
 INNER JOIN DBO.ZOCLIEN1 ZC ON 
 ZS.CODCLIE = ZC.COD
  WHERE FLGPROCESADO <> '1' 
  ORDER BY ZS.CODCLIE 
END

GO
