USE [Comercial]
GO
/****** Object:  Table [dbo].[ipsolo]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ipsolo](
	[IP] [char](7) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
