USE [Comercial]
GO
/****** Object:  Table [dbo].[Zoprodu2_TEMP]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Zoprodu2_TEMP](
	[Col001] [char](9) NULL,
	[Col002] [char](30) NULL,
	[Col003] [char](2) NULL,
	[Col004] [char](43) NULL,
	[Col005] [char](6) NULL,
	[Col006] [char](3) NULL,
	[Col007] [char](20) NULL,
	[Col008] [char](6) NULL,
	[Col009] [char](15) NULL,
	[Col010] [char](5) NULL,
	[Col011] [char](3) NULL,
	[Col012] [char](2) NULL,
	[Col013] [char](2) NULL,
	[Col014] [char](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
