USE [Comercial]
GO
/****** Object:  Table [dbo].[LOG_DB]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_DB](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOG_TIPO] [nvarchar](50) NOT NULL,
	[LOG_FECHA] [datetime] NOT NULL,
	[LOG_MODULO] [nvarchar](50) NOT NULL,
	[LOG_COD] [nvarchar](50) NOT NULL,
	[LOG_DESC] [nvarchar](250) NULL,
	[LOG_USER] [nvarchar](50) NULL,
	[LOG_PC] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOG_DB] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
