USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_IP_FLGFILBUSQ]    Script Date: 19/11/2015 1:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		<AUTHOR,,NAME>
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	<DESCRIPTION,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SELECT_IP_FLGFILBUSQ]
AS
BEGIN
	SELECT DISTINCT ZS.IP, ZP.DESCRIP, ZP.FLGFILBUSQ 
	FROM ZOSOLICITUD ZS  
	INNER JOIN DBO.ZOPRODU1 ZP ON 
	ZS.IP = ZP.IP  AND 
	ZS.PAIS = ZP.PAIS  
	INNER JOIN DBO.T000_FAMILIA ON 
	FAMICODI = FAMILIA  AND 
	FAMIAGRCODI LIKE '%'  
	WHERE 
	FLGPROCESADO <> '1'
	 ORDER BY ZS.IP
END

GO
