USE [Comercial]
GO
/****** Object:  View [dbo].[000_NOTAS_DE_CREDITO]    Script Date: 10/12/2015 23:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[000_NOTAS_DE_CREDITO]
AS
SELECT     TOP 100 PERCENT datac.RFC_CREDITOS.NOTACODCLIE, datac.RFC_CREDITOS.NOTACAMPO, datac.RFC_CREDITOS.NOTACRITERIO, 
                      datac.RFC_CRITERIO_CREDITOS.[SQL], datac.RFC_CRITERIO_CREDITOS.orden, datac.RFC_CREDITOS.NOTA_1, datac.RFC_CREDITOS.NOTA_2, 
                      datac.RFC_CREDITOS.NOTA_3
FROM         datac.RFC_CRITERIO_CREDITOS INNER JOIN
                      datac.RFC_CREDITOS ON datac.RFC_CRITERIO_CREDITOS.CRITERIO = datac.RFC_CREDITOS.NOTACAMPO
ORDER BY datac.RFC_CRITERIO_CREDITOS.orden

GO
