USE [Comercial]
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_PROMODELDIA]    Script Date: 29/11/2015 19:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		<AUTHOR,,NAME>
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	<DESCRIPTION,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SELECT_PROMODELDIA]
(
	@FECHA DATETIME,
	@CODPROMO INT
)
AS
BEGIN
	SELECT 
	@FECHA AS FECHA,DATEPART(WEEKDAY,@FECHA) AS DIA, CODTIPOPROMO, DESCTIPOPROMO,
	CASE DATEPART(WEEKDAY,@FECHA)
		WHEN 1 THEN DESCU1
		WHEN 2 THEN DESCU2
		WHEN 3 THEN DESCU3
		WHEN 4 THEN DESCU4
		WHEN 5 THEN DESCU5
		WHEN 6 THEN DESCU6
		WHEN 7 THEN DESCU7
	END AS DESCUENTO,
	CASE DATEPART(WEEKDAY,@FECHA)
		WHEN 1 THEN CUOTA1
		WHEN 2 THEN CUOTA2
		WHEN 3 THEN CUOTA3
		WHEN 4 THEN CUOTA4
		WHEN 5 THEN CUOTA5
		WHEN 6 THEN CUOTA6
		WHEN 7 THEN CUOTA7
	END AS CUOTA
FROM 
	ZOTIPOPROMO
WHERE 
	@FECHA BETWEEN FECDESDE AND FECHASTA AND
	CODTIPOPROMO = @CODPROMO
END

GO
