USE [Comercial]
GO
/****** Object:  Table [dbo].[ZZZ_precios_ok_DELETE_20140813]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZZZ_precios_ok_DELETE_20140813](
	[cliente] [char](10) NULL,
	[ip] [char](10) NULL,
	[precio_ok] [float] NULL,
	[precio_lista] [float] NULL,
	[precio_ok_NC] [float] NULL,
	[precio_ok_FIN] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
