USE [Comercial]
GO
/****** Object:  Table [dbo].[MD_USUARIOS]    Script Date: 29/10/2015 12:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_USUARIOS](
	[USU_ID] [nvarchar](50) NOT NULL,
	[LEGAJO] [int] NOT NULL,
	[USU_DESC] [nvarchar](50) NULL,
	[MAIL] [nvarchar](50) NULL,
	[PASS] [nvarchar](20) NULL,
	[ACTIVO] [int] NULL CONSTRAINT [DF_MD_USUARIOS_ACTIVO]  DEFAULT ((0)),
 CONSTRAINT [PK_MD_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
