USE [Comercial]
GO
/****** Object:  Table [dbo].[ZoRegion]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZoRegion](
	[REG_COD] [char](2) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_ZoRegiones] PRIMARY KEY CLUSTERED 
(
	[REG_COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
