USE [Comercial]
GO
/****** Object:  Table [PROD].[ZZZ_DATOS_TOTALES_OK_DELETE_20140813]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROD].[ZZZ_DATOS_TOTALES_OK_DELETE_20140813](
	[AÑO] [nvarchar](4) NULL,
	[PERIODO] [nvarchar](3) NULL,
	[ORG] [nvarchar](4) NULL,
	[CANAL] [nvarchar](2) NULL,
	[CANAL SA] [nvarchar](2) NULL,
	[BU] [nvarchar](2) NULL,
	[SECTOR] [nvarchar](2) NULL,
	[SECTOR_VTAS] [nvarchar](6) NULL,
	[FAMILIA] [nvarchar](2) NULL,
	[LOTE] [nvarchar](2) NULL,
	[BONUS] [nvarchar](2) NULL,
	[MARCA] [nvarchar](2) NULL,
	[GRUPO] [nvarchar](2) NULL,
	[MKT] [nvarchar](3) NULL,
	[DIBUJO] [nvarchar](6) NULL,
	[IP] [nvarchar](18) NULL,
	[DESC_IP] [nvarchar](30) NULL,
	[DEST_MERCADERIA] [nvarchar](255) NULL,
	[HIERARQUIA] [nvarchar](10) NULL,
	[SERIE] [int] NULL,
	[LICITACIONES] [nvarchar](1) NULL,
	[VENDEDOR] [nvarchar](255) NULL,
	[GRUPO_ART] [nvarchar](9) NULL,
	[CODNAC] [nvarchar](18) NULL,
	[UNIDADES] [float] NULL,
	[Toneladas] [float] NULL,
	[Descuento_caja] [float] NULL,
	[Net_sales] [float] NULL,
	[MP] [float] NULL,
	[MO] [float] NULL,
	[PLN_VAR_PROD] [float] NULL,
	[DUTY] [float] NULL,
	[Base_cond] [float] NULL,
	[Effic_purch_patter] [float] NULL,
	[Precio_lista] [float] NULL,
	[Month_extra] [float] NULL,
	[Perform_bonus] [float] NULL,
	[Other_rebates] [float] NULL,
	[fixed_bonus] [float] NULL,
	[Own_prod_COST] [float] NULL,
	[Warehouse] [float] NULL,
	[Structure] [float] NULL,
	[Order_management] [float] NULL,
	[Communicator] [float] NULL,
	[MKT_Structure] [float] NULL,
	[Order_ADM] [float] NULL,
	[Sales_ORG] [float] NULL,
	[Sales_structure] [float] NULL,
	[After_sales_structure] [float] NULL,
	[General_Admin] [float] NULL,
	[OWN R&D] [float] NULL,
	[TAF] [float] NULL,
	[Stocks_eval] [float] NULL,
	[Othr_incomes] [float] NULL,
	[Seasonality] [float] NULL,
	[HANDLING] [float] NULL,
	[FITTING] [float] NULL,
	[RIMS] [float] NULL,
	[PTE_PURCHASED] [float] NULL,
	[SA_PURCHASED] [float] NULL,
	[INT_COMMIS_SA] [float] NULL,
	[PLAN_VAR_LOG] [float] NULL,
	[MINOR_OPER] [float] NULL,
	[DESC_EXTRA_CLIE_2] [float] NULL,
	[DESC_EXTRA_CLIE_3] [float] NULL,
	[VAR_COMMUNIC_COST] [float] NULL,
	[COMMISSIONS] [float] NULL,
	[INTEGR_COMMISSIONS] [float] NULL,
	[BAD_DEBITS] [float] NULL,
	[OTHERS_VARIBLES] [float] NULL,
	[TECH_CLEIMS] [float] NULL,
	[transporte] [float] NULL,
	[ORIGEN] [int] NULL,
	[ORIGEN_LOTE] [nvarchar](255) NULL,
	[DESPESAS] [float] NULL
) ON [PRIMARY]

GO
