USE [Comercial]
GO
/****** Object:  Table [PROD].[PROD_B2B]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROD].[PROD_B2B](
	[MANDT] [float] NULL,
	[VKORG] [float] NULL,
	[VTWEG] [float] NULL,
	[MATNR] [float] NULL,
	[ZSALESB2B] [nvarchar](255) NULL
) ON [PRIMARY]

GO
