USE [Comercial]
GO
/****** Object:  Table [PROD].[ZZZ_TEMP_PROMO_IP]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROD].[ZZZ_TEMP_PROMO_IP](
	[IP] [nvarchar](50) NULL,
	[RODADO] [real] NULL
) ON [PRIMARY]

GO
