USE [Comercial]
GO
/****** Object:  Table [PROD].[clientes_simul]    Script Date: 10/12/2015 23:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROD].[clientes_simul](
	[hierarquia] [nvarchar](255) NULL
) ON [PRIMARY]

GO
